
:root{
    /*colors*/
    --clr-black: #000;
    --clr-white: #fff;
    --clr-121: #121121;
    --clr-7e7: #7e7e7e;
    --clr-ece: #eceff8;
    --clr-d6b: #d6b161;
    --clr-444: #444444;
    --clr-555: #555555;
    --clr-169: #1696e7;
    --clr-f2f: #f2f2f2;
    --clr-888: #888888;
    --clr-ffc: #ffffffcc;
    --clr-2b9: #2B96CC;
    --clr-7db: #7dba2f;

    /* Font Size */
    --fs-40: 40;
    --fs-32: 32;
    --fs-28: 28;
    --fs-24: 24;
    --fs-20: 20;
    --fs-16: 16;
    --fs-14: 14;
    --fs-13: 13;
    
    /* Font-Weight */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
}
