/* scrollUp */
#scrollUp {
	background: var(--clr-7db);
	height: 35px;
	width: 35px;
	right: 50px;
	bottom: 77px;
	color: var(--clr-white);
	font-size: var(--fs-20);
	text-align: center;
	border-radius: 50%;
	line-height: 34px;

    &:hover{
        background: var(--clr-444);
    }
}